body {
    margin: 0;
    line-height: normal;
 }
 
 
 :root {
    
    /* fonts */
    --font-roboto: Roboto;
    
    /* font sizes */
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-base: 16px;
    
    /* Colors */
    --color-white: #fff;
    --color-darkslategray: #333;
    --color-gray: #222;
    --color-darkslateblue: #381b42;
    
 }
 