
body {
    margin: 0;
    line-height: normal;
}


:root {
    
    /* fonts */
    --font-roboto: Roboto;
    
    /* font sizes */
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-base: 16px;
    --font-size-mini: 15px;
    
    /* Colors */
    --color-plum-100: #e7b4ff;
    --color-darkslategray: #333;
    --color-gray-100: #888;
    --color-gray-200: #222;
    --color-dimgray: #666;
    
}