.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px; /* Adjust padding as needed */
   background-color:#ecc2ff; /* Replace with your header background color */
}

.logo {
   flex: 1; /* Allow logo to take available space */
   text-align: center; /* Center the logo */
}

.logo img {
   max-width: 400px; /* Adjust the maximum width of your logo */
   height: auto;
}

.header-icons {
   display: flex;
   align-items: center;
}

.header-icons a {
   margin-left: 10px; /* Adjust the spacing between icons */
}

.cart-icon img,
.login-icon img {
   max-width: 400px; /* Adjust the maximum width of your icons */
   height: auto;
}

.rectangle {
    position: absolute;
    width: 100%;
    top: 145px;
    right: 0%;
    left: 0%;
    background-color: var(--color-plum-100);
    height: 3px;
 }
 .rectangle1 {
    position: absolute;
    width: 78%;
    top: 1481px;
    right: 0%;
    left: 22%;
    background-color: var(--color-dimgray);
    height: 1px;
 }
 .rectangle2 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 1114px;
 }
 .rectangle3 {
    position: absolute;
    width: 100%;
    top: 115px;
    right: 0%;
    left: 0%;
    background-color: var(--color-dimgray);
    height: 1px;
 }
 .rectangle4 {
    position: absolute;
    width: 100%;
    top: 180px;
    right: 0%;
    left: 0%;
    background-color: var(--color-dimgray);
    height: 1px;
 }
 .rectangle5 {
    position: absolute;
    width: 100%;
    top: 245px;
    right: 0%;
    left: 0%;
    background-color: var(--color-dimgray);
    height: 1px;
 }
 .rectangle6 {
    position: absolute;
    width: 100%;
    top: 310px;
    right: 0%;
    left: 0%;
    background-color: var(--color-dimgray);
    height: 1px;
 }
 .rectangle7 {
    position: absolute;
    width: 100%;
    top: 375px;
    right: 0%;
    left: 0%;
    background-color: var(--color-dimgray);
    height: 1px;
 }
 .rectangle8 {
    position: absolute;
    width: 100%;
    top: 440px;
    right: 0%;
    left: 0%;
    background-color: var(--color-dimgray);
    height: 1px;
 }
 .rectangle9 {
    position: absolute;
    width: 100%;
    top: 505px;
    right: 0%;
    left: 0%;
    background-color: var(--color-dimgray);
    height: 1px;
 }
 .rectangle10 {
    position: absolute;
    width: 100%;
    top: 570px;
    right: 0%;
    left: 0%;
    background-color: var(--color-dimgray);
    height: 1px;
 }
 .rectangle11 {
    position: absolute;
    width: 100%;
    top: 635px;
    right: 0%;
    left: 0%;
    background-color: var(--color-dimgray);
    height: 1px;
 }
 .rectangle12 {
    position: absolute;
    width: 100%;
    top: 700px;
    right: 0%;
    left: 0%;
    background-color: var(--color-dimgray);
    height: 1px;
 }
 .rectangle13 {
    position: absolute;
    width: 100%;
    top: 765px;
    right: 0%;
    left: 0%;
    background-color: var(--color-dimgray);
    height: 1px;
 }
 .rectangle14 {
    position: absolute;
    width: 100%;
    top: 830px;
    right: 0%;
    left: 0%;
    background-color: var(--color-dimgray);
    height: 1px;
 }
 .rectangle15 {
    position: absolute;
    width: 100%;
    top: 895px;
    right: 0%;
    left: 0%;
    background-color: var(--color-dimgray);
    height: 1px;
 }
 .rectangle16 {
    position: absolute;
    width: 100%;
    top: 960px;
    right: 0%;
    left: 0%;
    background-color: var(--color-dimgray);
    height: 1px;
 }
 .rectangle17 {
    position: absolute;
    width: 100%;
    top: 1025px;
    right: 0%;
    left: 0%;
    background-color: var(--color-dimgray);
    height: 1px;
 }
 .rectangle18 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 65px;
 }
 .plt-marketplace {
    position: absolute;
    width: 13.72%;
    top: 25px;
    left: 1.8%;
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
 }
 .frame6 {
    position: absolute;
    width: 99.98%;
    top: 116px;
    right: 0%;
    left: 0.02%;
    height: 65px;
    font-size: var(--font-size-smi);
 }
 .how-do-i {
    position: absolute;
    width: 56.58%;
    top: 25px;
    left: 1.8%;
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
 }
 .frame7 {
    position: absolute;
    width: 99.98%;
    top: 246px;
    right: 0%;
    left: 0.02%;
    height: 65px;
 }
 .how-long-do {
    position: absolute;
    width: 35.21%;
    top: 25px;
    left: 1.8%;
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
 }
 .frame8 {
    position: absolute;
    width: 99.98%;
    top: 376px;
    right: 0%;
    left: 0.02%;
    height: 65px;
 }
 .how-do-i1 {
    position: absolute;
    width: 32.06%;
    top: 25px;
    left: 1.8%;
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
 }
 .frame9 {
    position: absolute;
    width: 99.98%;
    top: 506px;
    right: 0%;
    left: 0.02%;
    height: 65px;
    font-size: var(--font-size-sm);
 }
 .how-long-does {
    position: absolute;
    width: 41.28%;
    top: 25px;
    left: 1.8%;
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
 }
 .frame10 {
    position: absolute;
    width: 99.98%;
    top: 636px;
    right: 0%;
    left: 0.02%;
    height: 65px;
 }
 .international-returns {
    position: absolute;
    width: 20.02%;
    top: 25px;
    left: 1.8%;
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
 }
 .frame11 {
    position: absolute;
    width: 99.98%;
    top: 766px;
    right: 0%;
    left: 0.02%;
    height: 65px;
    font-size: var(--font-size-sm);
 }
 .can-i-exchange {
    position: absolute;
    width: 21.82%;
    top: 25px;
    left: 1.8%;
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
 }
 .frame12 {
    position: absolute;
    width: 99.98%;
    top: 896px;
    right: 0%;
    left: 0.02%;
    height: 65px;
 }
 .can-i-return {
    position: absolute;
    width: 44.32%;
    top: 25px;
    left: 1.8%;
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
 }
 .frame13 {
    position: absolute;
    width: 99.98%;
    top: 1026px;
    right: 0%;
    left: 0.02%;
    height: 65px;
 }
 .returns {
    position: absolute;
    top: -1px;
    left: calc(50% - 81.41px);
    font-size: 34px;
    letter-spacing: 2.16px;
    line-height: 39.6px;
    color: var(--color-darkslategray);
    text-align: center;
    display: inline-block;
    width: 162px;
 }
 .how-do-i2 {
    position: absolute;
    width: 34.76%;
    top: 25px;
    left: 1.8%;
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
 }
 .frame14 {
    position: absolute;
    width: 99.98%;
    top: 181px;
    right: 0%;
    left: 0.02%;
    height: 65px;
    font-size: var(--font-size-sm);
 }
 .how-much-does {
    position: absolute;
    width: 38.58%;
    top: 25px;
    left: 1.8%;
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
 }
 .frame15 {
    position: absolute;
    width: 99.98%;
    top: 441px;
    right: 0%;
    left: 0.02%;
    height: 65px;
 }
 .how-can-i {
    position: absolute;
    width: 37.12%;
    top: 25px;
    left: 1.8%;
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
 }
 .frame16 {
    position: absolute;
    width: 99.98%;
    top: 701px;
    right: 0%;
    left: 0.02%;
    height: 65px;
    font-size: var(--font-size-sm);
 }
 .the-consumer-contracts {
    position: absolute;
    width: 34.87%;
    top: 25px;
    left: 1.8%;
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
 }
 .frame17 {
    position: absolute;
    width: 99.98%;
    top: 961px;
    right: 0%;
    left: 0.02%;
    height: 65px;
 }
 .what-is-your {
    position: absolute;
    width: 25.76%;
    top: 25px;
    left: 1.8%;
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
 }
 .frame18 {
    position: absolute;
    width: 99.98%;
    top: 311px;
    right: 0%;
    left: 0.02%;
    height: 65px;
    font-size: var(--font-size-sm);
 }
 .do-you-refund {
    position: absolute;
    width: 32.62%;
    top: 25px;
    left: 1.8%;
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
 }
 .frame19 {
    position: absolute;
    width: 99.98%;
    top: 831px;
    right: 0%;
    left: 0.02%;
    height: 65px;
 }
 .what-do-i {
    position: absolute;
    width: 33.18%;
    top: 25px;
    left: 1.8%;
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
 }
 .frame20 {
    position: absolute;
    width: 99.98%;
    top: 571px;
    right: 0%;
    left: 0.02%;
    height: 65px;
 }
 .frame5 {
    position: absolute;
    width: 100.02%;
    top: 22px;
    right: 0%;
    left: -0.02%;
    height: 1091px;
 }
 .frame4 {
    position: absolute;
    width: 77.98%;
    top: 367px;
    right: 0%;
    left: 22.02%;
    height: 1114px;
    overflow: hidden;
 }
 .frame3 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 367px;
 }
 .frame2 {
    position: absolute;
    width: 98.28%;
    top: 56px;
    right: 0.86%;
    left: 0.86%;
    height: 367px;
 }
 .frame1 {
    position: absolute;
    width: 96.67%;
    top: 0px;
    right: 1.67%;
    left: 1.67%;
    height: 1885.13px;
    color: var(--color-gray-100);
 }
 .rectangle33 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    background-color: var(--color-plum-100);
    height: 185px;
 }
 .rectangle35 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 37px;
 }
 .rectangle37 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    background-color: #da30f5;
    height: 37px;
 }
 .rectangle38 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 21px;
 }
 .get-10-discount {
    margin: 0;
 }
 .get-10-discount-container {
    position: absolute;
    top: calc(50% - 10.5px);
    left: calc(50% - 284px);
    letter-spacing: 1px;
    line-height: 21px;
    text-transform: uppercase;
    display: inline-block;
    width: 616px;
 }
 .frame26 {
    position: absolute;
    width: 98.67%;
    top: calc(50% - 10.5px);
    right: 0.67%;
    left: 0.67%;
    height: 21px;
 }
 .frame24 {
    position: absolute;
    top: 0px;
    left: calc(50% - 600px);
    width: 1200px;
    height: 37px;
 }
 .frame23 {
    position: absolute;
    width: 100%;
    top: 148px;
    right: 0%;
    left: 0%;
    height: 37px;
    overflow: hidden;
 }
 .frame-icon {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    height: 103px;
    object-fit: cover;
 }
 .rectangle39 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    background-color: #1e8bf0;
    height: 40px;
 }
 .rectangle40 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 40px;
 }
 .rectangle41 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 36px;
 }
 .frame30 {
    position: absolute;
    top: 0px;
    left: calc(50% - 246px);
    width: 65px;
    height: 36px;
 }
 .frame31 {
    position: absolute;
    width: 4.28%;
    top: 0px;
    right: 52.79%;
    left: 42.93%;
    height: 36px;
 }
 .delivery {
    position: absolute;
    width: 52.1%;
    top: 8px;
    left: 1.68%;
    line-height: 20px;
    text-transform: uppercase;
    display: inline-block;
 }
 .frame32 {
    position: absolute;
    top: 0px;
    left: calc(50% + 277px);
    width: 119px;
    height: 36px;
    font-size: var(--font-size-smi);
 }
 .frame34 {
    position: absolute;
    width: 73.77%;
    top: 0px;
    right: 13.11%;
    left: 13.11%;
    height: 36px;
 }
 .frame33 {
    position: absolute;
    top: 2px;
    left: calc(50% - 450px);
    width: 61px;
    height: 68px;
 }
 .shop-all {
    position: absolute;
    width: 8.29%;
    top: 8px;
    left: 38.92%;
    line-height: 20px;
    text-transform: uppercase;
    display: inline-block;
 }
 .frame37 {
    position: absolute;
    width: 78.38%;
    top: 0px;
    right: 10.81%;
    left: 10.81%;
    height: 36px;
 }
 .about-us {
    position: absolute;
    width: 133.33%;
    top: 8px;
    left: 11.59%;
    line-height: 20px;
    text-transform: uppercase;
    display: inline-block;
 }
 .frame38 {
    position: absolute;
    width: 93.24%;
    top: 0px;
    right: 43.24%;
    left: -36.49%;
    height: 36px;
 }
 .frame36 {
    position: absolute;
    top: 0px;
    left: calc(50% - 23.5px);
    width: 74px;
    height: 36px;
 }
 .frame35 {
    position: absolute;
    top: 0px;
    left: calc(50% + 100px);
    width: 79px;
    height: 36px;
 }
 .frame39 {
    position: absolute;
    top: 2px;
    left: calc(50% - 298px);
    width: 85px;
    height: 36px;
 }
 .frame40 {
    position: absolute;
    top: 0px;
    left: calc(50% + 360px);
    width: 72px;
    height: 36px;
 }
 .frame29 {
    position: absolute;
    width: 100%;
    top: 4px;
    right: 1.75%;
    left: -1.75%;
    height: 36px;
 }
 .frame28 {
    position: absolute;
    top: 0px;
    left: calc(50% - 573px);
    width: 1146px;
    height: 40px;
 }
 .frame27 {
    position: absolute;
    width: 100%;
    top: 108px;
    right: 0%;
    left: 0%;
    height: 40px;
    text-align: left;
    font-size: var(--font-size-xs);
 }
 .frame22 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 185px;
 }
 .frame21 {
    position: absolute;
    width: 100%;
    top: 16px;
    right: 0%;
    left: 0%;
    height: 185px;
    text-align: center;
    font-size: var(--font-size-sm);
 }
 .rectangle53 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 700px;
 }
 .rectangle54 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    background-color: #e3a7f8;
    height: 652px;
 }
 .rectangle55 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 472px;
 }
 .rectangle56 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 436px;
 }
 .rectangle59 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 24px;
 }
 .frame47 {
    position: absolute;
    width: 72.02%;
    top: 0px;
    right: 27.98%;
    left: 0%;
    height: 24px;
 }
 .frame46 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 208px;
 }
 .rectangle63 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 14px;
 }
 .frame51 {
    position: absolute;
    width: 35.03%;
    top: 5px;
    right: 64.97%;
    left: 0%;
    height: 14px;
 }
 .frame50 {
    position: absolute;
    width: 72.02%;
    top: 139px;
    right: 33.94%;
    left: -5.96%;
    height: 24px;
 }
 .frame52 {
    position: absolute;
    width: 72.02%;
    top: 218px;
    right: 33.94%;
    left: -5.96%;
    height: 24px;
 }
 .rectangle65 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 48px;
 }
 .rectangle66 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 38px;
 }
 .environment-social-responsibi {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0%;
    letter-spacing: 0.4px;
    line-height: 20px;
    text-transform: capitalize;
    display: inline-block;
 }
 .frame54 {
    position: absolute;
    width: 75.16%;
    top: 5px;
    right: 24.84%;
    left: 0%;
    height: 38px;
 }
 .frame53 {
    position: absolute;
    width: 72.02%;
    top: 158px;
    right: 33.94%;
    left: -5.96%;
    height: 48px;
 }
 .frame49 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 432px;
 }
 .frame48 {
    position: absolute;
    width: 100%;
    top: 2px;
    right: -42.2%;
    left: 42.2%;
    height: 436px;
 }
 .frame45 {
    position: absolute;
    width: 24.33%;
    top: -15px;
    right: 25.67%;
    left: 50%;
    height: 436px;
 }
 .frame55 {
    position: absolute;
    width: 24.33%;
    top: 0px;
    right: 0%;
    left: 75.67%;
    height: 436px;
 }
 .terms-conditions {
    position: absolute;
    width: 100%;
    top: -3px;
    left: 0%;
    letter-spacing: 0.4px;
    line-height: 20px;
    text-transform: capitalize;
    display: inline-block;
 }
 .frame58 {
    position: absolute;
    width: 53.21%;
    top: 125px;
    right: -34.86%;
    left: 81.65%;
    height: 14px;
 }
 .frame60 {
    position: absolute;
    width: 49.04%;
    top: 5px;
    right: 50.96%;
    left: 0%;
    height: 14px;
 }
 .frame59 {
    position: absolute;
    width: 72.02%;
    top: 200px;
    right: -53.67%;
    left: 81.65%;
    height: 24px;
    font-size: 11px;
 }
 .frame57 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 424px;
 }
 .frame56 {
    position: absolute;
    width: 24.33%;
    top: 4px;
    right: 75.67%;
    left: 0%;
    height: 436px;
 }
 .frame62 {
    position: absolute;
    width: 29.94%;
    top: 5px;
    right: 70.06%;
    left: 0%;
    height: 14px;
 }
 .frame61 {
    position: absolute;
    width: 17.52%;
    top: 176px;
    right: 62.39%;
    left: 20.09%;
    height: 24px;
 }
 .frame64 {
    position: absolute;
    width: 28.03%;
    top: 5px;
    right: 71.97%;
    left: 0%;
    height: 14px;
 }
 .frame63 {
    position: absolute;
    width: 17.52%;
    top: 152px;
    right: 62.39%;
    left: 20.09%;
    height: 24px;
 }
 .policies {
    position: absolute;
    width: 77.52%;
    top: -2px;
    left: 0%;
    letter-spacing: 0.48px;
    line-height: 20px;
    text-transform: uppercase;
    display: inline-block;
 }
 .frame67 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: -58.72%;
    left: 58.72%;
    height: 36px;
 }
 .frame66 {
    position: absolute;
    width: 24.33%;
    top: 2px;
    right: 71.99%;
    left: 3.68%;
    height: 36px;
 }
 .our-brand {
    position: absolute;
    width: 77.52%;
    top: -1px;
    left: 0%;
    letter-spacing: 0.48px;
    line-height: 20px;
    text-transform: uppercase;
    display: inline-block;
 }
 .frame69 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 20px;
 }
 .frame68 {
    position: absolute;
    width: 24.33%;
    top: 0px;
    right: 19.75%;
    left: 55.92%;
    height: 36px;
 }
 .frame65 {
    position: absolute;
    width: 100%;
    top: 68px;
    right: -2.12%;
    left: 2.12%;
    height: 36px;
    font-size: var(--font-size-base);
 }
 .frame44 {
    position: absolute;
    width: 100%;
    top: 36px;
    right: 0%;
    left: 0%;
    height: 436px;
 }
 .image-1-icon {
    position: absolute;
    top: 16px;
    left: 335px;
    width: 0px;
    height: 0px;
    object-fit: cover;
 }
 .frame43 {
    position: absolute;
    width: 74.67%;
    top: 180px;
    right: 11.08%;
    left: 14.25%;
    height: 472px;
 }
 .div {
    position: absolute;
    top: 0px;
    left: calc(50% + 43px);
    letter-spacing: 1px;
    line-height: 20px;
    display: inline-block;
    width: 36px;
 }
 .gemglam {
    position: absolute;
    top: 0px;
    left: calc(50% - 79px);
    font-size: var(--font-size-xs);
    letter-spacing: 1px;
    line-height: 20px;
    display: inline-block;
    width: 117px;
 }
 .frame70 {
    position: absolute;
    width: 100%;
    top: 538px;
    right: 0.92%;
    left: -0.92%;
    height: 20px;
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-darkslategray);
 }
 .payfast4-removebg-preview-1-3-icon {
    position: absolute;
    top: 0px;
    left: 40px;
    width: 1046px;
    height: 124px;
    object-fit: cover;
 }
 .frame42 {
    position: absolute;
    width: 100%;
    top: 24px;
    right: 0%;
    left: 0%;
    height: 652px;
 }
 .untitled-design-2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1200px;
    height: 60px;
    object-fit: cover;
 }
 .frame41 {
    position: absolute;
    width: 100%;
    top: 1926px;
    right: -0.17%;
    left: 0.17%;
    height: 700px;
    font-size: var(--font-size-xs);
 }
 .frame {
    position: relative;
    background-color: var(--color-plum-100);
    width: 100%;
    height: 2543px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-gray-200);
    font-family: var(--font-roboto);
 }
 
 
 