body {
    margin: 0;
    line-height: normal;
 }
 
 
 :root {
    
    /* fonts */
    --font-roboto: Roboto;
    
    /* font sizes */
    --font-size-xs: 12px;
    --font-size-smi: 13px;
    --font-size-sm: 14px;
    --font-size-base: 16px;
    --font-size-2xs: 11px;
    --font-size-3xl: 22px;
    --font-size-3xs: 10px;
    --font-size-2xl: 21px;
    --font-size-5xs: 8px;
    
    /* Colors */
    --color-fuchsia: #da30f5;
    --color-gray: #222;
    --color-darkslategray: #333;
    --color-black: #000;
    
 }
 