.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #e7b4ff; /* Replace with your header background color */
 }
 
 .logo {
    flex: 1; /* Allow logo to take available space */
    text-align: center; /* Center the logo */
 }
 
 .logo img {
    max-width: 400px; /* Adjust the maximum width of your logo */
    height: auto;
 }
 
 .header-icons {
    display: flex;
    align-items: center;
 }
 
 .header-icons a {
    margin-left: 10px; /* Adjust the spacing between icons */
 }
 
 .cart-icon img,
 .login-icon img {
    max-width: 400px; /* Adjust the maximum width of your icons */
    height: auto;
 }
 
.rectangle {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 7429px;
}
.rectangle1 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 800px;
}
.rectangle3 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 6826px;
}
.rectangle5 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 6738px;
}
.rectangle7 {
    position: absolute;
    width: 0.09%;
    top: 310px;
    right: -0.09%;
    left: 100%;
    background-color: var(--color-black);
    height: 36px;
}
.rectangle8 {
    position: absolute;
    width: 0.09%;
    top: 310px;
    right: 100%;
    left: -0.09%;
    background-color: var(--color-black);
    height: 36px;
}
.rectangle9 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 6384px;
}
.rectangle11 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 5904px;
}
.rectangle13 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 492px;
}
.rectangle14 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 112px;
}
.rectangle15 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 83px;
}
.rectangle16 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 53px;
}
.moonlitmajesty {
    position: absolute;
    top: 9px;
    left: calc(50% - 93px);
    letter-spacing: 0.4px;
    line-height: 24px;
    display: inline-block;
    width: 188px;
}
.frame14 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 53px;
    overflow: hidden;
}
.rectangle17 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 30px;
}
.rectangle18 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 24px;
}
.div {
    position: absolute;
    top: 0px;
    left: calc(50% - 25px);
    letter-spacing: 0.4px;
    line-height: 24px;
    display: inline-block;
    width: 50px;
}
.frame16 {
    position: absolute;
    top: 6px;
    left: calc(50% - 27px);
    width: 50px;
    height: 24px;
}
.frame15 {
    position: absolute;
    width: 100%;
    top: 53px;
    right: 0%;
    left: 0%;
    height: 30px;
    font-size: var(--font-size-mini);
    color: var(--color-darkslategray);
}
.frame13 {
    position: absolute;
    width: 97.27%;
    top: 29px;
    right: 2.73%;
    left: 0%;
    height: 83px;
}
.rectangle19 {
    position: absolute;
    width: 13.64%;
    top: 9px;
    right: 2.27%;
    left: 84.09%;
    height: 16px;
}
.frame12 {
    position: absolute;
    width: 93.22%;
    top: 367px;
    right: 0%;
    left: 6.78%;
    height: 112px;
}
.icon {
    position: absolute;
    top: 33px;
    left: 16px;
    width: 220px;
    height: 351px;
    object-fit: cover;
}
.frame11 {
    position: absolute;
    width: 24.97%;
    top: 3936px;
    right: 25.08%;
    left: 49.95%;
    height: 492px;
    font-size: var(--font-size-base);
    color: var(--color-gray-100);
}
.frame21 {
    position: absolute;
    top: 6px;
    left: calc(50% - 28px);
    width: 50px;
    height: 24px;
}
.frame20 {
    position: absolute;
    width: 100%;
    top: 53px;
    right: 0%;
    left: 0%;
    height: 30px;
}
.luminouslattice {
    position: absolute;
    top: 9px;
    left: calc(50% - 98px);
    letter-spacing: 0.4px;
    line-height: 24px;
    display: inline-block;
    width: 196px;
}
.frame22 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 53px;
    overflow: hidden;
    font-size: var(--font-size-sm);
    color: var(--color-gray-100);
}
.rectangle26 {
    position: absolute;
    width: 13.64%;
    top: 9px;
    right: 2.73%;
    left: 83.64%;
    height: 16px;
}
.icon1 {
    position: absolute;
    top: 33px;
    left: 13px;
    width: 220px;
    height: 351px;
    object-fit: cover;
}
.frame17 {
    position: absolute;
    width: 24.97%;
    top: 3936px;
    right: 0%;
    left: 75.03%;
    height: 492px;
}
.royalresplendence {
    position: absolute;
    top: 9px;
    left: calc(50% - 90px);
    letter-spacing: 0.4px;
    line-height: 24px;
    display: inline-block;
    width: 180px;
}
.frame28 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 53px;
    overflow: hidden;
    font-size: var(--font-size-base);
    color: var(--color-gray-100);
}
.icon2 {
    position: absolute;
    top: 41px;
    left: 13px;
    width: 220px;
    height: 351px;
    object-fit: cover;
}
.frame23 {
    position: absolute;
    width: 24.97%;
    top: 4428px;
    right: 75.03%;
    left: 0%;
    height: 492px;
}
.timelesstreasures {
    position: absolute;
    top: 9px;
    left: calc(50% - 88px);
    letter-spacing: 0.4px;
    line-height: 24px;
    display: inline-block;
    width: 177px;
}
.icon3 {
    position: absolute;
    top: 41px;
    left: 16px;
    width: 220px;
    height: 351px;
    object-fit: cover;
}
.frame29 {
    position: absolute;
    width: 24.97%;
    top: 4428px;
    right: 50.05%;
    left: 24.97%;
    height: 492px;
}
.eleganceenhance {
    position: absolute;
    top: 9px;
    left: calc(50% - 104px);
    letter-spacing: 0.4px;
    line-height: 24px;
    display: inline-block;
    width: 209px;
}
.icon4 {
    position: absolute;
    top: 23px;
    left: 0px;
    width: 220px;
    height: 351px;
    object-fit: cover;
}
.frame41 {
    position: absolute;
    width: 93.22%;
    top: 16px;
    right: 0%;
    left: 6.78%;
    height: 351px;
}
.frame35 {
    position: absolute;
    width: 24.97%;
    top: 4428px;
    right: 25.08%;
    left: 49.95%;
    height: 492px;
}
.regalarmure {
    position: absolute;
    top: 9px;
    left: calc(50% - 96px);
    letter-spacing: 0.4px;
    line-height: 24px;
    display: inline-block;
    width: 192px;
}
.frame42 {
    position: absolute;
    width: 24.97%;
    top: 4428px;
    right: 0%;
    left: 75.03%;
    height: 492px;
    font-size: var(--font-size-base);
    color: var(--color-gray-100);
}
.sparklingadorn {
    position: absolute;
    top: 9px;
    left: calc(50% - 91px);
    letter-spacing: 0.4px;
    line-height: 24px;
    display: inline-block;
    width: 183px;
}
.div7 {
    position: absolute;
    top: 33px;
    left: 14px;
    width: 220px;
    height: 351px;
}
.frame48 {
    position: absolute;
    width: 24.97%;
    top: 4920px;
    right: 75.03%;
    left: 0%;
    height: 492px;
    font-size: var(--font-size-base);
    color: var(--color-gray-100);
}
.dazzlewraps {
    position: absolute;
    top: 9px;
    left: calc(50% - 102px);
    letter-spacing: 0.4px;
    line-height: 24px;
    display: inline-block;
    width: 205px;
}
.frame54 {
    position: absolute;
    width: 24.97%;
    top: 4920px;
    right: 50.05%;
    left: 24.97%;
    height: 492px;
}
.frame60 {
    position: absolute;
    width: 24.97%;
    top: 4920px;
    right: 25.08%;
    left: 49.95%;
    height: 492px;
}
.enchantingarmory {
    position: absolute;
    top: 9px;
    left: calc(50% - 101px);
    letter-spacing: 0.4px;
    line-height: 24px;
    display: inline-block;
    width: 202px;
}
.icon9 {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 220px;
    height: 351px;
    object-fit: cover;
}
.frame67 {
    position: absolute;
    width: 24.97%;
    top: 5412px;
    right: 75.03%;
    left: 0%;
    height: 492px;
}
.pearladornments {
    position: absolute;
    top: 9px;
    left: calc(50% - 99px);
    letter-spacing: 0.4px;
    line-height: 24px;
    display: inline-block;
    width: 198px;
}
.frame74 {
    position: absolute;
    width: 24.97%;
    top: 4920px;
    right: 0%;
    left: 75.03%;
    height: 492px;
    font-size: var(--font-size-base);
    color: var(--color-gray-100);
}
.radiantropes {
    position: absolute;
    top: 9px;
    left: calc(50% - 99px);
    letter-spacing: 0.4px;
    line-height: 24px;
    display: inline-block;
    width: 199px;
}
.icon11 {
    position: absolute;
    top: 25px;
    left: 16px;
    width: 220px;
    height: 351px;
    object-fit: cover;
}
.frame81 {
    position: absolute;
    width: 24.97%;
    top: 2952px;
    right: 75.03%;
    left: 0%;
    height: 492px;
    font-size: var(--font-size-base);
    color: var(--color-gray-100);
}
.opulentorbits {
    position: absolute;
    top: 9px;
    left: calc(50% - 90px);
    letter-spacing: 0.4px;
    line-height: 24px;
    display: inline-block;
    width: 181px;
}
.frame92 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 53px;
    overflow: hidden;
    font-size: var(--font-size-smi);
    color: var(--color-gray-100);
}
.frame87 {
    position: absolute;
    width: 24.97%;
    top: 2952px;
    right: 25.08%;
    left: 49.95%;
    height: 492px;
}
.infiniteinfinity {
    position: absolute;
    top: 9px;
    left: calc(50% - 94px);
    letter-spacing: 0.4px;
    line-height: 24px;
    display: inline-block;
    width: 189px;
}
.icon13 {
    position: absolute;
    top: 16px;
    left: 13px;
    width: 220px;
    height: 351px;
    object-fit: cover;
}
.frame93 {
    position: absolute;
    width: 24.97%;
    top: 3444px;
    right: 75.03%;
    left: 0%;
    height: 492px;
}
.frame99 {
    position: absolute;
    width: 24.97%;
    top: 3444px;
    right: 25.08%;
    left: 49.95%;
    height: 492px;
}
.icon15 {
    position: absolute;
    top: 15px;
    left: 0px;
    width: 220px;
    height: 351px;
    object-fit: cover;
}
.frame105 {
    position: absolute;
    width: 24.97%;
    top: 3936px;
    right: 75.03%;
    left: 0%;
    height: 492px;
}
.icon16 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 220px;
    height: 351px;
    object-fit: cover;
}
.glitzgarden-bracelets {
    position: absolute;
    top: 9px;
    left: calc(50% - 105px);
    letter-spacing: 0.4px;
    line-height: 24px;
    display: inline-block;
    width: 210px;
}
.frame112 {
    position: absolute;
    width: 24.97%;
    top: 5412px;
    right: 50.05%;
    left: 24.97%;
    height: 492px;
}
.regalarmure2 {
    position: absolute;
    top: 9px;
    left: calc(50% - 102px);
    letter-spacing: 0.4px;
    line-height: 24px;
    display: inline-block;
    width: 204px;
}
.frame119 {
    position: absolute;
    width: 24.97%;
    top: 5412px;
    right: 0%;
    left: 75.03%;
    height: 492px;
}
.regalrosettes {
    position: absolute;
    top: 9px;
    left: calc(50% - 95px);
    letter-spacing: 0.4px;
    line-height: 24px;
    display: inline-block;
    width: 191px;
}
.frame130 {
    position: absolute;
    top: 0px;
    left: calc(50% - 25px);
    width: 50px;
    height: 24px;
}
.frame129 {
    position: absolute;
    width: 90.68%;
    top: 453px;
    right: 7.2%;
    left: 2.12%;
    height: 30px;
    font-size: var(--font-size-mini);
    color: var(--color-darkslategray);
}
.frame125 {
    position: absolute;
    width: 24.97%;
    top: 2952px;
    right: 50.05%;
    left: 24.97%;
    height: 492px;
    font-size: var(--font-size-base);
    color: var(--color-gray-100);
}
.treasuredtrinkets {
    position: absolute;
    top: 9px;
    left: calc(50% - 92px);
    letter-spacing: 0.4px;
    line-height: 24px;
    display: inline-block;
    width: 184px;
}
.frame131 {
    position: absolute;
    width: 24.97%;
    top: 3444px;
    right: 50.05%;
    left: 24.97%;
    height: 492px;
}
.image {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 16px;
}
.frame137 {
    position: absolute;
    width: 24.97%;
    top: 3936px;
    right: 50.05%;
    left: 24.97%;
    height: 492px;
}
.moonlitmarquee {
    position: absolute;
    top: 9px;
    left: calc(50% - 98px);
    letter-spacing: 0.4px;
    line-height: 24px;
    display: inline-block;
    width: 195px;
}
.frame144 {
    position: absolute;
    width: 24.97%;
    top: 3444px;
    right: 0%;
    left: 75.03%;
    height: 492px;
}
.luxelacelets {
    position: absolute;
    top: 9px;
    left: calc(50% - 85px);
    letter-spacing: 0.4px;
    line-height: 24px;
    display: inline-block;
    width: 172px;
}
.frame151 {
    position: absolute;
    width: 24.97%;
    top: 5412px;
    right: 25.08%;
    left: 49.95%;
    height: 492px;
}
.icon23 {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 220px;
    height: 351px;
    object-fit: cover;
}
.dazzlingdrapery {
    position: absolute;
    top: 9px;
    left: calc(50% - 92px);
    letter-spacing: 0.4px;
    line-height: 24px;
    display: inline-block;
    width: 183px;
}
.frame158 {
    position: absolute;
    width: 24.97%;
    top: 2952px;
    right: 0%;
    left: 75.03%;
    height: 492px;
}
.get-yours-below-1 {
    position: absolute;
    top: 2310px;
    left: -92px;
    width: 1145px;
    height: 573px;
    object-fit: cover;
}
.frame10 {
    position: absolute;
    width: 101.72%;
    top: -2131px;
    right: 12.38%;
    left: -14.1%;
    height: 5870px;
}
.rectangle181 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 264px;
}
.get-it-all-1 {
    position: absolute;
    top: -37px;
    left: -162px;
    width: 1200px;
    height: 300px;
    object-fit: cover;
}
.frame165 {
    position: absolute;
    width: 100%;
    top: 4100px;
    right: 9.26%;
    left: -9.26%;
    height: 264px;
}
.frame9 {
    position: absolute;
    width: 100%;
    top: -869px;
    right: -7.53%;
    left: 7.53%;
    height: 5904px;
}
.rectangle183 {
    position: absolute;
    width: 99.14%;
    top: 5944px;
    right: 0.43%;
    left: 0.43%;
    height: 1px;
}
.rectangle184 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 45px;
}
.rectangle185 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    border-radius: 2px;
    background-color: var(--color-black);
    border: 2px solid var(--color-black);
    box-sizing: border-box;
    height: 45px;
}
.load-more-products {
    position: absolute;
    top: 13px;
    left: calc(50% - 72px);
    letter-spacing: 0.42px;
    line-height: 20px;
    text-transform: uppercase;
    display: inline-block;
    width: 145px;
}
.frame168 {
    position: absolute;
    width: 27.01%;
    top: 0px;
    right: 36.55%;
    left: 36.44%;
    height: 45px;
}
.frame167 {
    position: absolute;
    width: 94.83%;
    top: 6203px;
    right: 2.58%;
    left: 2.58%;
    height: 45px;
    font-size: var(--font-size-xs);
    color: var(--color-plum-100);
}
.rectangle186 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 18px;
}
.currently-displaying-1-48 {
    position: absolute;
    width: 25.51%;
    top: 0px;
    left: 37.24%;
    line-height: 18px;
    display: inline-block;
}
.frame169 {
    position: absolute;
    width: 100%;
    top: 6053px;
    right: -0.43%;
    left: 0.43%;
    height: 18px;
    text-align: left;
    font-size: var(--font-size-2xs);
}
.rectangle187 {
    position: absolute;
    width: 99.14%;
    top: 5943.19px;
    right: 0.43%;
    left: 0.43%;
    background-color: #efefef;
    height: 1px;
}
.why-not-try {
    position: absolute;
    top: 0px;
    left: calc(50% - 110.5px);
    letter-spacing: 1.44px;
    line-height: 24px;
    display: inline-block;
    width: 221px;
}
.frame170 {
    position: absolute;
    width: 100%;
    top: 6360px;
    right: 0.43%;
    left: -0.43%;
    height: 24px;
    font-size: 24px;
    color: var(--color-gray-100);
}
.frame8 {
    position: absolute;
    width: 80.09%;
    top: -532px;
    right: 8.97%;
    left: 10.95%;
    height: 6384px;
}
.rectangle190 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 224px;
}
.rectangle191 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 56px;
}
.rectangle192 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    border-radius: var(--br-9980xl);
    background-color: var(--color-darkmagenta);
    height: 40px;
}
.light-jackets-for {
    position: absolute;
    top: 0px;
    left: calc(50% - 84px);
    letter-spacing: 1px;
    line-height: 24px;
    display: inline-block;
    width: 169px;
}
.frame175 {
    position: absolute;
    width: 86.67%;
    top: 8px;
    right: 6.67%;
    left: 6.67%;
    height: 24px;
}
.frame174 {
    position: absolute;
    width: 96%;
    top: 0px;
    right: 4%;
    left: 0%;
    height: 40px;
}
.frame173 {
    position: absolute;
    top: 0px;
    left: calc(50% - 125.5px);
    width: 250px;
    height: 56px;
}
.cream-tops-womens {
    position: absolute;
    top: 0px;
    left: calc(50% - 72px);
    letter-spacing: 1px;
    line-height: 24px;
    display: inline-block;
    width: 144px;
}
.frame176 {
    position: absolute;
    top: 56px;
    left: calc(50% - 375.5px);
    width: 250px;
    height: 56px;
}
.rainbow-clothing {
    position: absolute;
    top: 0px;
    left: calc(50% - 61px);
    letter-spacing: 1px;
    line-height: 24px;
    display: inline-block;
    width: 122px;
}
.frame179 {
    position: absolute;
    top: 56px;
    left: calc(50% + 124.5px);
    width: 250px;
    height: 56px;
}
.light-green-clothing {
    position: absolute;
    top: 0px;
    left: calc(50% - 71px);
    letter-spacing: 1px;
    line-height: 24px;
    display: inline-block;
    width: 143px;
}
.frame182 {
    position: absolute;
    top: 112px;
    left: calc(50% - 125.5px);
    width: 250px;
    height: 56px;
    font-size: var(--font-size-sm);
}
.womens-black-tee {
    position: absolute;
    top: 0px;
    left: calc(50% - 83px);
    letter-spacing: 1px;
    line-height: 24px;
    display: inline-block;
    width: 166px;
}
.frame185 {
    position: absolute;
    top: 168px;
    left: calc(50% - 125.5px);
    width: 250px;
    height: 56px;
}
.occasion-clothing {
    position: absolute;
    top: 0px;
    left: calc(50% - 65px);
    letter-spacing: 1px;
    line-height: 24px;
    display: inline-block;
    width: 130px;
}
.frame188 {
    position: absolute;
    top: 0px;
    left: calc(50% + 124.5px);
    width: 250px;
    height: 56px;
    font-size: var(--font-size-sm);
}
.neon-festival-clothing {
    position: absolute;
    top: 0px;
    left: calc(50% - 82px);
    letter-spacing: 1px;
    line-height: 24px;
    display: inline-block;
    width: 164px;
}
.frame191 {
    position: absolute;
    top: 112px;
    left: calc(50% - 375.5px);
    width: 250px;
    height: 56px;
    font-size: var(--font-size-sm);
}
.black-cycling-shorts {
    position: absolute;
    top: 0px;
    left: calc(50% - 101px);
    letter-spacing: 1px;
    line-height: 24px;
    display: inline-block;
    width: 202px;
}
.frame194 {
    position: absolute;
    top: 56px;
    left: calc(50% - 125.5px);
    width: 250px;
    height: 56px;
}
.pastel-top-womens {
    position: absolute;
    top: 0px;
    left: calc(50% - 66px);
    letter-spacing: 1px;
    line-height: 24px;
    display: inline-block;
    width: 132px;
}
.frame197 {
    position: absolute;
    top: 112px;
    left: calc(50% + 124.5px);
    width: 250px;
    height: 56px;
}
.gingham-clothing {
    position: absolute;
    top: 0px;
    left: calc(50% - 64px);
    letter-spacing: 1px;
    line-height: 24px;
    display: inline-block;
    width: 128px;
}
.frame200 {
    position: absolute;
    top: 0px;
    left: calc(50% - 375.5px);
    width: 250px;
    height: 56px;
    font-size: var(--font-size-sm);
}
.frame172 {
    position: absolute;
    width: 100%;
    top: 40px;
    right: 0%;
    left: 0%;
    height: 224px;
}
.frame171 {
    position: absolute;
    width: 80.09%;
    top: 5670px;
    right: 10.34%;
    left: 9.57%;
    height: 264px;
    font-size: var(--font-size-smi);
    color: var(--color-gray-100);
}
.frame7 {
    position: absolute;
    width: 100%;
    top: 1185px;
    right: -2.76%;
    left: 2.76%;
    height: 6384px;
}
.rectangle221 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 40px;
}
.frame203 {
    position: absolute;
    width: 103.45%;
    top: 469px;
    right: -1.72%;
    left: -1.72%;
    height: 40px;
}
.frame5 {
    position: absolute;
    width: 96.67%;
    top: 56px;
    right: 1.67%;
    left: 1.67%;
    height: 6738px;
}
.rectangle222 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 700px;
}
.rectangle224 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    background-color: #e3a7f8;
    height: 652px;
}
.rectangle225 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 472px;
}
.rectangle226 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 436px;
}
.frame211 {
    position: absolute;
    width: 72.02%;
    top: 0px;
    right: 27.98%;
    left: 0%;
    height: 24px;
}
.frame210 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 208px;
}
.rectangle233 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 14px;
}
.about-us {
    position: absolute;
    width: 100%;
    top: -3px;
    left: 0%;
    letter-spacing: 0.4px;
    line-height: 20px;
    text-transform: capitalize;
    display: inline-block;
}
.frame215 {
    position: absolute;
    width: 35.03%;
    top: 5px;
    right: 64.97%;
    left: 0%;
    height: 14px;
}
.frame214 {
    position: absolute;
    width: 72.02%;
    top: 139px;
    right: 33.94%;
    left: -5.96%;
    height: 24px;
}
.frame216 {
    position: absolute;
    width: 72.02%;
    top: 218px;
    right: 33.94%;
    left: -5.96%;
    height: 24px;
}
.rectangle235 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 48px;
}
.rectangle236 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 38px;
}
.environment-social-responsibi {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0%;
    letter-spacing: 0.4px;
    line-height: 20px;
    text-transform: capitalize;
    display: inline-block;
}
.frame218 {
    position: absolute;
    width: 75.16%;
    top: 5px;
    right: 24.84%;
    left: 0%;
    height: 38px;
}
.frame217 {
    position: absolute;
    width: 72.02%;
    top: 158px;
    right: 33.94%;
    left: -5.96%;
    height: 48px;
}
.frame213 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 432px;
}
.frame212 {
    position: absolute;
    width: 100%;
    top: 2px;
    right: -42.2%;
    left: 42.2%;
    height: 436px;
}
.frame209 {
    position: absolute;
    width: 24.33%;
    top: -15px;
    right: 25.67%;
    left: 50%;
    height: 436px;
}
.frame219 {
    position: absolute;
    width: 24.33%;
    top: 0px;
    right: 0%;
    left: 75.67%;
    height: 436px;
}
.frame222 {
    position: absolute;
    width: 53.21%;
    top: 125px;
    right: -34.86%;
    left: 81.65%;
    height: 14px;
}
.frame224 {
    position: absolute;
    width: 49.04%;
    top: 5px;
    right: 50.96%;
    left: 0%;
    height: 14px;
}
.frame223 {
    position: absolute;
    width: 72.02%;
    top: 200px;
    right: -53.67%;
    left: 81.65%;
    height: 24px;
    font-size: var(--font-size-2xs);
}
.frame221 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 424px;
}
.frame220 {
    position: absolute;
    width: 24.33%;
    top: 4px;
    right: 75.67%;
    left: 0%;
    height: 436px;
}
.frame226 {
    position: absolute;
    width: 29.94%;
    top: 5px;
    right: 70.06%;
    left: 0%;
    height: 14px;
}
.frame225 {
    position: absolute;
    width: 17.52%;
    top: 176px;
    right: 62.39%;
    left: 20.09%;
    height: 24px;
}
.frame228 {
    position: absolute;
    width: 28.03%;
    top: 5px;
    right: 71.97%;
    left: 0%;
    height: 14px;
}
.frame227 {
    position: absolute;
    width: 17.52%;
    top: 152px;
    right: 62.39%;
    left: 20.09%;
    height: 24px;
}
.rectangle247 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 36px;
}
.policies {
    position: absolute;
    width: 77.52%;
    top: -2px;
    left: 0%;
    letter-spacing: 0.48px;
    line-height: 20px;
    text-transform: uppercase;
    display: inline-block;
}
.frame231 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: -58.72%;
    left: 58.72%;
    height: 36px;
}
.frame230 {
    position: absolute;
    width: 24.33%;
    top: 2px;
    right: 71.99%;
    left: 3.68%;
    height: 36px;
}
.our-brand {
    position: absolute;
    width: 77.52%;
    top: -1px;
    left: 0%;
    letter-spacing: 0.48px;
    line-height: 20px;
    text-transform: uppercase;
    display: inline-block;
}
.frame233 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 20px;
}
.frame232 {
    position: absolute;
    width: 24.33%;
    top: 0px;
    right: 19.75%;
    left: 55.92%;
    height: 36px;
}
.frame229 {
    position: absolute;
    width: 100%;
    top: 68px;
    right: -2.12%;
    left: 2.12%;
    height: 36px;
    font-size: var(--font-size-base);
}
.frame208 {
    position: absolute;
    width: 100%;
    top: 36px;
    right: 0%;
    left: 0%;
    height: 436px;
}
.image-1-icon {
    position: absolute;
    top: 16px;
    left: 335px;
    width: 0px;
    height: 0px;
    object-fit: cover;
}
.frame207 {
    position: absolute;
    width: 74.67%;
    top: 180px;
    right: 11.08%;
    left: 14.25%;
    height: 472px;
}
.div25 {
    position: absolute;
    top: 0px;
    left: calc(50% + 43px);
    letter-spacing: 1px;
    line-height: 20px;
    display: inline-block;
    width: 36px;
}
.gemglam {
    position: absolute;
    top: 0px;
    left: calc(50% - 79px);
    font-size: var(--font-size-xs);
    letter-spacing: 1px;
    line-height: 20px;
    display: inline-block;
    width: 117px;
}
.frame234 {
    position: absolute;
    width: 100%;
    top: 538px;
    right: 0.92%;
    left: -0.92%;
    height: 20px;
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-darkslategray);
}
.payfast4-removebg-preview-1-3-icon {
    position: absolute;
    top: 0px;
    left: 40px;
    width: 1046px;
    height: 124px;
    object-fit: cover;
}
.frame206 {
    position: absolute;
    width: 100%;
    top: 24px;
    right: 0%;
    left: 0%;
    height: 652px;
}
.untitled-design-2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1200px;
    height: 60px;
    object-fit: cover;
}
.frame204 {
    position: absolute;
    width: 100%;
    top: 4204px;
    right: -0.08%;
    left: 0.08%;
    height: 700px;
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--color-gray-100);
}
.frame4 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 6794px;
}
.frame3 {
    position: absolute;
    width: 100%;
    top: 185px;
    right: 0%;
    left: 0%;
    height: 6826px;
}
.rectangle253 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    background-color: var(--color-plum-100);
    height: 185px;
}
.rectangle255 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 37px;
}
.rectangle257 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    background-color: #da30f5;
    height: 37px;
}
.rectangle258 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 21px;
}
.get-10-discount {
    margin: 0;
}
.get-10-discount-container {
    position: absolute;
    top: calc(50% - 10.5px);
    left: calc(50% - 324px);
    letter-spacing: 1px;
    line-height: 21px;
    text-transform: uppercase;
    display: inline-block;
    width: 623px;
}
.frame240 {
    position: absolute;
    width: 98.67%;
    top: calc(50% - 10.5px);
    right: 0.67%;
    left: 0.67%;
    height: 21px;
}
.frame238 {
    position: absolute;
    top: 0px;
    left: calc(50% - 600px);
    width: 1200px;
    height: 37px;
}
.frame237 {
    position: absolute;
    width: 100%;
    top: 148px;
    right: 0%;
    left: 0%;
    height: 37px;
    overflow: hidden;
}
.frame-icon {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    height: 68px;
}
.michelle-1-2 {
    position: absolute;
    top: 11px;
    left: 460px;
    width: 315px;
    height: 101px;
    object-fit: cover;
}
.rectangle259 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    background-color: #1e8bf0;
    height: 40px;
}
.frame244 {
    position: absolute;
    top: 0px;
    left: calc(50% - 246px);
    width: 65px;
    height: 36px;
}
.frame245 {
    position: absolute;
    width: 4.28%;
    top: 0px;
    right: 52.79%;
    left: 42.93%;
    height: 36px;
}
.delivery1 {
    position: absolute;
    width: 52.1%;
    top: 8px;
    left: 1.68%;
    line-height: 20px;
    text-transform: uppercase;
    display: inline-block;
}
.frame246 {
    position: absolute;
    top: 0px;
    left: calc(50% + 277px);
    width: 119px;
    height: 36px;
    font-size: var(--font-size-smi);
}
.frame248 {
    position: absolute;
    width: 73.77%;
    top: 0px;
    right: 13.11%;
    left: 13.11%;
    height: 36px;
}
.frame247 {
    position: absolute;
    top: 2px;
    left: calc(50% - 450px);
    width: 61px;
    height: 68px;
}
.shop-all {
    position: absolute;
    width: 8.29%;
    top: 8px;
    left: 38.92%;
    line-height: 20px;
    text-transform: uppercase;
    display: inline-block;
}
.frame251 {
    position: absolute;
    width: 78.38%;
    top: 0px;
    right: 10.81%;
    left: 10.81%;
    height: 36px;
}
.about-us1 {
    position: absolute;
    width: 133.33%;
    top: 8px;
    left: 11.59%;
    line-height: 20px;
    text-transform: uppercase;
    display: inline-block;
}
.frame252 {
    position: absolute;
    width: 93.24%;
    top: 0px;
    right: 43.24%;
    left: -36.49%;
    height: 36px;
}
.frame250 {
    position: absolute;
    top: 0px;
    left: calc(50% - 23.5px);
    width: 74px;
    height: 36px;
}
.frame249 {
    position: absolute;
    top: 0px;
    left: calc(50% + 100px);
    width: 79px;
    height: 36px;
}
.frame253 {
    position: absolute;
    top: 2px;
    left: calc(50% - 298px);
    width: 85px;
    height: 36px;
}
.frame254 {
    position: absolute;
    top: 0px;
    left: calc(50% + 360px);
    width: 72px;
    height: 36px;
}
.frame243 {
    position: absolute;
    width: 100%;
    top: 4px;
    right: 1.75%;
    left: -1.75%;
    height: 36px;
}
.frame242 {
    position: absolute;
    top: 0px;
    left: calc(50% - 573px);
    width: 1146px;
    height: 40px;
}
.frame241 {
    position: absolute;
    width: 100%;
    top: 108px;
    right: 0%;
    left: 0%;
    height: 40px;
    text-align: left;
    font-size: var(--font-size-xs);
}
.frame236 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 185px;
}
.frame235 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 185px;
    font-size: var(--font-size-sm);
    color: var(--color-gray-100);
}
.rectangle273 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    background-color: var(--color-plum-100);
    height: 418px;
}
.rectangle275 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 317px;
}
.rectangle277 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 248px;
}
.help {
    position: absolute;
    width: 18.38%;
    top: 0px;
    left: 0%;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
}
.frame260 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 18px;
    font-size: var(--font-size-xs);
}
.size-guide {
    position: absolute;
    width: 41.18%;
    top: 0px;
    left: 0%;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
}
.frame262 {
    position: absolute;
    width: 100%;
    top: 46px;
    right: 0%;
    left: 0%;
    height: 18px;
}
.royalty {
    position: absolute;
    width: 27.21%;
    top: 0px;
    left: 0%;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
}
.frame264 {
    position: absolute;
    width: 100%;
    top: 92px;
    right: 0%;
    left: 0%;
    height: 18px;
}
.gift-cards-faq {
    position: absolute;
    width: 60.29%;
    top: 0px;
    left: 0%;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
}
.frame266 {
    position: absolute;
    width: 100%;
    top: 138px;
    right: 0%;
    left: 0%;
    height: 18px;
    font-size: var(--font-size-xs);
}
.clearpay {
    position: absolute;
    width: 35.29%;
    top: 0px;
    left: 0%;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
}
.frame268 {
    position: absolute;
    width: 100%;
    top: 184px;
    right: 0%;
    left: 0%;
    height: 18px;
    font-size: var(--font-size-xs);
}
.paypal {
    position: absolute;
    width: 25%;
    top: 0px;
    left: 0%;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
}
.frame270 {
    position: absolute;
    width: 100%;
    top: 230px;
    right: 0%;
    left: 0%;
    height: 18px;
}
.returns1 {
    position: absolute;
    width: 27.94%;
    top: 0px;
    left: 0%;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
}
.frame272 {
    position: absolute;
    width: 100%;
    top: 23px;
    right: 0%;
    left: 0%;
    height: 18px;
}
.frame274 {
    position: absolute;
    width: 100%;
    top: 115px;
    right: 0%;
    left: 0%;
    height: 18px;
    font-size: var(--font-size-xs);
}
.frame276 {
    position: absolute;
    width: 100%;
    top: 207px;
    right: 0%;
    left: 0%;
    height: 18px;
}
.frame278 {
    position: absolute;
    width: 100%;
    top: 69px;
    right: 0%;
    left: 0%;
    height: 18px;
}
.sustainability {
    position: absolute;
    width: 51.47%;
    top: 0px;
    left: 0%;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
}
.frame280 {
    position: absolute;
    width: 100%;
    top: 161px;
    right: 0%;
    left: 0%;
    height: 18px;
}
.frame259 {
    position: absolute;
    width: 100%;
    top: 50px;
    right: 0%;
    left: 0%;
    height: 248px;
}
.rectangle300 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 17px;
}
.let-us-help {
    position: absolute;
    width: 100%;
    top: -1px;
    left: 0%;
    letter-spacing: 1px;
    line-height: 17.6px;
    text-transform: uppercase;
    display: inline-block;
}
.frame282 {
    position: absolute;
    width: 100%;
    top: 22px;
    right: 0%;
    left: 0%;
    height: 17px;
    font-size: var(--font-size-mini);
}
.frame258 {
    position: absolute;
    width: 11.33%;
    top: 0px;
    right: 81.92%;
    left: 6.75%;
    height: 317px;
}
.rectangle302 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 110px;
}
.terms-conditions1 {
    position: absolute;
    width: 57.56%;
    top: 0px;
    left: 0%;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
}
.bci-membership {
    position: absolute;
    width: 50%;
    top: 0px;
    left: 0%;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
}
.privacy-policy1 {
    position: absolute;
    width: 39.53%;
    top: 0px;
    left: 0%;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
}
.frame284 {
    position: absolute;
    width: 100%;
    top: 50px;
    right: 0%;
    left: 0%;
    height: 110px;
}
.information {
    position: absolute;
    width: 67.44%;
    top: -1px;
    left: 0%;
    letter-spacing: 1px;
    line-height: 17.6px;
    text-transform: uppercase;
    display: inline-block;
}
.frame295 {
    position: absolute;
    width: 100%;
    top: 22px;
    right: 0%;
    left: 0%;
    height: 17px;
    font-size: var(--font-size-base);
}
.frame283 {
    position: absolute;
    width: 14.33%;
    top: 0px;
    right: 29.42%;
    left: 56.25%;
    height: 317px;
}
.frame297 {
    position: absolute;
    width: 100%;
    top: 22px;
    right: 0%;
    left: 0%;
    height: 17px;
}
.order-history {
    position: absolute;
    width: 62.5%;
    top: 0px;
    left: 0%;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
}
.track-my-order {
    position: absolute;
    width: 71.43%;
    top: 0px;
    left: 0%;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
}
.my-wishlist {
    position: absolute;
    width: 52.68%;
    top: 0px;
    left: 0%;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
}
.refer-a-friend {
    position: absolute;
    width: 64.29%;
    top: 0px;
    left: 0%;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
}
.view-bag {
    position: absolute;
    width: 41.96%;
    top: 0px;
    left: 0%;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
}
.frame298 {
    position: absolute;
    width: 100%;
    top: 50px;
    right: 0%;
    left: 0%;
    height: 110px;
    font-size: var(--font-size-2xs);
}
.frame296 {
    position: absolute;
    width: 9.33%;
    top: 0px;
    right: 6.67%;
    left: 84%;
    height: 317px;
    font-size: var(--font-size-base);
}
.about-us2 {
    position: absolute;
    width: 59.56%;
    top: -1px;
    left: 0%;
    letter-spacing: 1px;
    line-height: 17.6px;
    text-transform: uppercase;
    display: inline-block;
}
.rectangle329 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 225px;
}
.giving-back {
    position: absolute;
    width: 45.59%;
    top: 0px;
    left: 0%;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
}
.diversity {
    position: absolute;
    width: 32.35%;
    top: 0px;
    left: 0%;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
}
.careers {
    position: absolute;
    width: 30.15%;
    top: 0px;
    left: 0%;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
}
.students-graduates {
    position: absolute;
    width: 85.29%;
    top: 0px;
    left: 0%;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
}
.frame320 {
    position: absolute;
    width: 100%;
    top: 92px;
    right: 0%;
    left: 0%;
    height: 18px;
    font-size: var(--font-size-xs);
}
.essential-workers-discount {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0%;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
}
.frame322 {
    position: absolute;
    width: 100%;
    top: 115px;
    right: 0%;
    left: 0%;
    height: 18px;
}
.become-an-affiliate {
    position: absolute;
    width: 75%;
    top: 0px;
    left: 0%;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
}
.frame324 {
    position: absolute;
    width: 100%;
    top: 138px;
    right: 0%;
    left: 0%;
    height: 18px;
}
.frame328 {
    position: absolute;
    width: 100%;
    top: 184px;
    right: 0%;
    left: 0%;
    height: 18px;
}
.plt-marketplace {
    position: absolute;
    width: 63.97%;
    top: 0px;
    left: 0%;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
}
.frame311 {
    position: absolute;
    width: 100%;
    top: 50px;
    right: 0%;
    left: 0%;
    height: 225px;
    font-size: var(--font-size-2xs);
}
.frame309 {
    position: absolute;
    width: 11.33%;
    top: 0px;
    right: 57.17%;
    left: 31.5%;
    height: 317px;
    font-size: var(--font-size-mini);
}
.frame257 {
    position: absolute;
    width: 100%;
    top: calc(50% - 128.5px);
    right: 0%;
    left: 0%;
    height: 317px;
}
.rectangle350 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    background-color: var(--color-black);
    height: 60px;
}
.rectangle351 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 35px;
}
.rectangle352 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    border-radius: var(--br-9xs);
    background-color: var(--color-plum-100);
    height: 35px;
}
.rectangle353 {
    position: absolute;
    top: calc(50% - 11.5px);
    left: calc(50% - 9.5px);
    width: 19px;
    height: 22px;
}
.frame334 {
    position: absolute;
    width: 10.61%;
    top: 0px;
    right: 86.36%;
    left: 3.03%;
    height: 35px;
}
.rectangle355 {
    position: absolute;
    top: calc(50% - 11.5px);
    left: calc(50% - 10.5px);
    width: 22px;
    height: 22px;
}
.frame335 {
    position: absolute;
    width: 10.61%;
    top: 0px;
    right: 53.03%;
    left: 36.36%;
    height: 35px;
}
.frame336 {
    position: absolute;
    width: 10.61%;
    top: 0px;
    right: 19.7%;
    left: 69.7%;
    height: 35px;
}
.rectangle359 {
    position: absolute;
    top: calc(50% - 11.5px);
    left: calc(50% - 12.5px);
    width: 25px;
    height: 22px;
}
.frame337 {
    position: absolute;
    width: 10.61%;
    top: 0px;
    right: 36.36%;
    left: 53.03%;
    height: 35px;
}
.rectangle361 {
    position: absolute;
    top: calc(50% - 11.5px);
    left: calc(50% - 6.5px);
    width: 14px;
    height: 22px;
}
.frame338 {
    position: absolute;
    width: 10.61%;
    top: 0px;
    right: 69.7%;
    left: 19.7%;
    height: 35px;
}
.frame339 {
    position: absolute;
    width: 10.61%;
    top: 0px;
    right: 3.03%;
    left: 86.36%;
    height: 35px;
}
.frame333 {
    position: absolute;
    top: calc(50% - 17px);
    left: calc(50% - 482px);
    width: 330px;
    height: 35px;
}
.rectangle364 {
    position: absolute;
    top: calc(50% - 17px);
    left: calc(50% - 142px);
    width: 2px;
    height: 35px;
}
.rectangle365 {
    position: absolute;
    top: calc(50% - 17.31px);
    left: calc(50% - 144px);
    background-color: var(--color-plum-100);
    width: 2px;
    height: 35px;
}
.image-icon {
    position: absolute;
    width: 7.84%;
    top: 0px;
    right: 90.52%;
    left: 1.63%;
    max-width: 100%;
    overflow: hidden;
    height: 30px;
    object-fit: cover;
}
.image-icon1 {
    position: absolute;
    width: 7.84%;
    top: 0px;
    right: 68.3%;
    left: 23.86%;
    max-width: 100%;
    overflow: hidden;
    height: 30px;
    object-fit: cover;
}
.image-icon2 {
    position: absolute;
    width: 7.84%;
    top: 0px;
    right: 46.08%;
    left: 46.08%;
    max-width: 100%;
    overflow: hidden;
    height: 30px;
    object-fit: cover;
}
.image-icon3 {
    position: absolute;
    width: 7.84%;
    top: 0px;
    right: 23.86%;
    left: 68.3%;
    max-width: 100%;
    overflow: hidden;
    height: 30px;
    object-fit: cover;
}
.image-icon4 {
    position: absolute;
    width: 7.84%;
    top: 0px;
    right: 1.63%;
    left: 90.52%;
    max-width: 100%;
    overflow: hidden;
    height: 30px;
    object-fit: cover;
}
.image-icon5 {
    position: absolute;
    width: 7.84%;
    top: 0px;
    right: 79.41%;
    left: 12.75%;
    max-width: 100%;
    overflow: hidden;
    height: 30px;
    object-fit: cover;
}
.image-icon6 {
    position: absolute;
    width: 7.84%;
    top: 0px;
    right: 34.97%;
    left: 57.19%;
    max-width: 100%;
    overflow: hidden;
    height: 30px;
    object-fit: cover;
}
.image-icon7 {
    position: absolute;
    width: 7.84%;
    top: 0px;
    right: 12.75%;
    left: 79.41%;
    max-width: 100%;
    overflow: hidden;
    height: 30px;
    object-fit: cover;
}
.image-icon8 {
    position: absolute;
    width: 7.84%;
    top: 0px;
    right: 57.19%;
    left: 34.97%;
    max-width: 100%;
    overflow: hidden;
    height: 30px;
    object-fit: cover;
}
.frame340 {
    position: absolute;
    top: calc(50% - 19px);
    left: calc(50% - 130px);
    width: 612px;
    height: 38px;
}
.frame332 {
    position: absolute;
    width: 100%;
    top: calc(50% - 188.5px);
    right: 0%;
    left: 0%;
    height: 60px;
}
.frame256 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 377px;
}
.prettylittlething {
    position: absolute;
    top: 0px;
    left: calc(50% - 70px);
    font-size: 9px;
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
    width: 97px;
}
.div26 {
    position: absolute;
    top: 0px;
    left: calc(50% + 43px);
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
    width: 28px;
}
.div27 {
    position: absolute;
    top: 0px;
    left: calc(50% + 27px);
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
    width: 13px;
}
.frame341 {
    position: absolute;
    width: 100%;
    top: 377px;
    right: 0%;
    left: 0%;
    height: 16px;
    text-align: center;
    font-size: var(--font-size-xs);
}
.frame255 {
    position: absolute;
    width: 100%;
    top: 7011px;
    right: 0%;
    left: 0%;
    height: 418px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-2xs);
}
.rectangle368 {
    position: absolute;
    width: 0.08%;
    top: 7428px;
    right: 100%;
    left: -0.08%;
    height: 1px;
}
.frame {
    position: relative;
    background-color: var(--color-plum-100);
    width: 100%;
    height: 5000px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-mini);
    color: var(--color-darkslategray);
    font-family: var(--font-roboto);
}

